
body {
    background-color: #FCEDEA;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9DC183;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7EAA91;
}

button, #imageFileButton {
    width: 100%;
    padding: 10px;
    background-color: #9DC183;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover, #imageFileButton:hover {
    background-color: #7EAA91;
}
.cropper-view-box,
.cropper-drag-box,
.cropper-canvas,
.cropper-container {
    overflow: hidden !important;
    max-height: 70vh !important;
    background-color: transparent !important;
}

#imageContainer {
    height: 400px;
    margin: 0 20px;
    overflow: hidden;
}





